/* Global Styles */
body {
    background-color: blanchedalmond;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    padding: 10px;
}

title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    display: block;
}

/* Main Container */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Result Text */
#result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

/* Copy Button */
#copy {
    background-color: blanchedalmond;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

#copy:hover {
    background-color: #a69983; /* Couleur au survol */
}

#copy img {
    width: 30px;
    height: 30px;
    margin-right: 5px; /* Espacement entre l'image et le texte */
}

/* Save Button */
#save {
    margin-top: 10px;
    background-color: #aa4b4b;
    color: white;
    height: 40px; /* Hauteur ajustée pour plus d'espace */
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center; /* Alignement du texte au centre */
    cursor: pointer;
}

#save:hover {
    background-color: #9a4343; /* Couleur au survol */
}

img{
    height: 20px;
    width: 20px;
}