body {
    font-family: Arial, sans-serif;
    color: #333;
    width: 300px;
    background-color: blanchedalmond;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: blanchedalmond;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

header .logo {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ff4742;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: blanchedalmond;
    border-radius: 8px;
}

button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #fff;
    background-color: #ff4742;
    padding: 12px 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 700;
    font-size: 16px;
    height: 48px;
    margin-top: 15px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #fff;
    color: #ff4742;
}
