<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mot de passe généré</title>
    <link href="../style/generatePassword.css" rel="stylesheet" type="text/css">
    <script defer src="../scripts/generatePassword.js"></script>
</head>
<body>
<title>Nouveau mot de passe généré : </title>
<main>
    <div id="result"></div>
    <button id="copy"><img src="../assets/imgs/copy_icon.png" alt="Copy Button"></button>

</main>
    <button id="save"><strong>Sauvegarder</strong></button>
<footer>
    <button><a href="index.html"><img src="../assets/imgs/return_icon.png" alt="Go back to menu"></a></button>
</footer>
</body>
</html>