<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushroom Password</title>
    <link rel="stylesheet" href="../style/index.css">
    <script src="../scripts/script.js" defer></script>

</head>
<body> 
    <header>
        <logo><img src="../assets/icons/icon64.png"></logo>
        <h1>Mushroom Password</h1>
    </header>
    <main>
        <ul>
            <a href = "passwordlist.html"><button id="listPasswords">Liste des mots de passe</button></a>
            <a href = "generatePassword.html"><button id="generatePassword">Générer un mot de passe</button></a>
            <a href = "changeMail.html"><button id="settings">Paramètres</button></a>
        </ul>
    </main>
</body>
</html>